<ktelizer-widget-box [title]="'Votes'" titleExtraLinkTitle="Create new Vote" titleExtraLinkIcon="fa-plus" titleExtraLinkUrl="/vote/new">
<div>
    <jhi-alert></jhi-alert>
<br/>
<div class="table-responsive table" *ngIf="votes">
    <table class="table table-striped">
        <thead>
        <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
                <th><span jhiTranslate="hipsterBandApp.vote.voteDate">Vote Date</span></th>
            <th><span jhiTranslate="hipsterBandApp.vote.member">Member</span></th>
            <th><span jhiTranslate="hipsterBandApp.vote.song">Song</span></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let vote of votes ;trackBy: trackId">
            <td><a [routerLink]="['/vote', vote.id, 'view' ]">{{vote.id}}</a></td>
            <td>{{vote.voteDate | date:'mediumDate'}}</td>
            <td>
                    {{vote.member?.login}}
            </td>
            <td>
                    <div *ngIf="vote.song">
                        <a [routerLink]="['../song', vote.song?.id, 'view' ]" >{{vote.song?.title}}</a>
                    </div>
            </td>
            <td class="text-right">
                <div class="btn-group flex-btn-group-container">
                    <button type="submit"
                            [routerLink]="['/vote', vote.id, 'view' ]"
                            class="btn btn-info btn-sm">
                        <fa-icon [icon]="'eye'"></fa-icon>
                        <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                    </button>
                    <button type="submit"
                            [routerLink]="['/vote', vote.id, 'edit']"
                            class="btn btn-primary btn-sm">
                        <fa-icon [icon]="'pencil-alt'"></fa-icon>
                        <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                    </button>
                    <button type="submit"
                            [routerLink]="['/', 'vote', { outlets: { popup: vote.id + '/delete'} }]"
                            replaceUrl="true"
                            queryParamsHandling="merge"
                            class="btn btn-danger btn-sm">
                        <fa-icon [icon]="'times'"></fa-icon>
                        <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>
</ktelizer-widget-box>
